section#services.services {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 160px 0 80px 0;
}

section#services.services .services-container {
  display: flex;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 0 20px;
}

section#services.services h2 {
  max-width: 700px;
}