/* * {
  outline: 1px solid hotpink;
} */

.hero {
  padding: 10px;
}

.hero.background {
  /* height: 100dvh; */
  background-image: url('src/assets/background.avif');
  background-size: cover;
  background-position: center;
  border: 1px solid #2A2A2A;
  border-radius: 10px;
  padding-inline: 20px;
  /* background-color: black; */
  display: flex;
  justify-content: center;
}

.hero .container {
  max-width: 1200px;
}