.hero {
	display: flex;
	justify-content: center;
	padding: 10px;
}

.hero .background {
	flex: 1;
	background-image: url("src/assets/background.avif");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	border: 1px solid #2a2a2a;
	border-radius: 10px;
	padding-inline: 20px;
	display: flex;
	justify-content: center;
}

.hero .background .container {
	flex: 1;
	max-width: 1200px;
	display: flex;
  flex-direction: column;
	justify-content: center;
}
