.book-a-call {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-block: 80px;
}

.book-a-call .container {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding-inline: 20px;
}

.calendly-wrapper {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}