.navigation {
	width: 1200px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	padding-block: 16px;
}

.navigation a {
	padding: 10px 0 10px 10px;
}

.navigation .links {
	display: flex;
	gap: 40px;
}

.navigation .links a {
	font-family: "Poppins";
	color: white;
}

.navigation .links a:hover {
	color: #b4e925;
}

.navigation + hr {
	color: rgba(255, 255, 255, 8%);
}
